.content__numbers__block {
    color: #8c8c8c;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.content__numbers__block h2 {
    padding-top: 0.5em;
    color: #c1c1c1;
    font-size: 4em;
}


/*Mobile*/

@media screen and (min-width: 0px) {}


/*Tablets*/

@media screen and (min-width: 768px) {
    .content__numbers__block {
        display: inline-block;
        padding-left: -4px;
        width: 30%;
        margin-top: 0%;
        margin-left: 2%;
        box-sizing: border-box;
    }
}


/*Desktops*/

@media screen and (min-width: 992px) {
    .content__numbers {
        padding: 0 10% 0 10%;
    }
}


/*Notebooks*/

@media screen and (min-width: 1200px) {
    .content__numbers {
        padding: 0 5% 0 5%;
    }
}