   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   .style {
       width: 100%;
       /*height: 100%;*/
       padding: 0 5% 0 5%;
   }
   
   .img-globo {
       width: 200px;
       height: 200px;
       margin: 0 auto;
       display: block;
   }
   
   figure {
       width: 100%;
       /* text-align: center; */
       /*  width: 300px;
   display: block;
   float: left; */
   }
   
   .style__figure {
       margin-bottom: 5%;
   }
   
   .hr__title {
       width: 50%;
       height: 8px;
       background-color: #828282;
       margin: 0 auto;
       margin-bottom: 1.2em;
   }
   
   .linhas {
       width: 100%;
   }
   
   .hr__corpo {
       width: 100%;
       height: 8px;
       /*margin: 20px 5% 0 5%;*/
       margin-bottom: 1.2em;
       border: none;
       background-color: #CFCFCF;
   }
   
   .div {
       margin-bottom: 35px;
       /*  text-align: center; */
       width: 70%;
   }
   
   button {
       background-color: #9EB446;
       width: 100px;
       height: 40px;
       border-radius: 5px;
       border: none;
       margin: 0 auto;
       display: block;
   }
   
   @media screen and (min-width: 0px) {}
   /*Tablets*/
   
   @media screen and (min-width: 768px) {
       .linhas {
           width: 50%;
           display: block;
           float: left;
           text-align: left;
       }
       figure {
           width: 50%;
           display: block;
           float: left;
       }
       .hr__title {
           margin: 0 0 5% 0;
       }
       .hr__corpo {
           margin-left: 0;
           width: 70%;
       }
       button {
           margin: 30px 0 0 0;
       }
   }