* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_numbers,
.content__videos,
.content__world {
    height: 30%;
    width: 100%;
}

.content__numbers {
    width: 100%;
}

.content__videos {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
}