.header-position {
    width: 100%;
    background: #01252c;
    padding-top: 4em;
}

.logo {
    width: 30%;
    height: 100%;
    padding-left: 10%;
    display: inline-block;
}

.logo img {
    width: 50%;
    height: 100%;
    background-color: #01252c;
}


/*menu*/

.nav {
    height: 100%;
    float: right;
}

.nav li {
    text-align: center;
    font-family: "helvetica", Sans-Serif;
    font-size: 13px;
    display: inline-block;
    width: 10%;
}

.nav a {
    padding-right: 20px;
    background-color: #01252c;
    color: #07b6bf;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.nav a:hover {
    background: linear-gradient(#18b9c2, #054a5d);
    box-shadow: 1px 2px 2px 1px black;
}


/*footer*/

.footer {
    width: 100%;
    background: #01252c;
    display: inline-block;
}

.nav_footer {
    width: 60%;
    height: 100%;
    padding-left: 10%;
    float: left;
}

.nav_footer li {
    text-align: center;
    font-family: "helvetica", Sans-Serif;
    font-size: 14px;
    display: inline-block;
}

.nav_footer a {
    background-color: #01252c;
    color: #07b6bf;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texto {
    padding-top: 2.5%;
    color: #07b6bf;
    font-family: "helvetica", Sans-Serif;
    font-size: 13px;
}